html,body {
    background-color: #fff;
    /* background-color: #f2f2f2; */
    height:100%;
    color: #43484D !important;
    font-family: 'Poppins', sans-serif;
}

.navbar-transparent {
    background-color: rgba(255, 255, 255, 0) none repeat scroll 0 0 !important;
}

/* .nav-border {
    border-bottom: 1px solid #f8f9fa !important;
  } */

.navbar-nav li a {
    color: #43484D !important;
    text-transform: uppercase;
    padding: 10px 20px !important;
    font-size: small !important;
    font-weight: 500;
}
/* search button and bar */
.button {
	font-size: 9px;
	line-height: 40px;
	text-align: center;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: rgba(255, 255, 255, 0);
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
	height: 40px;
	width: 50px;
	vertical-align: bottom;
}

.search-icon {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.search-button {
	position: absolute;
	font-size: 20px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .search-button {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: rgba(255, 255, 255, 0);
	color: black;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    border-radius: 20px;
}

.search:focus {
	width: 250px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expand-right {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expand-right:focus {
	padding: 0 0 0 16px;
}

@media screen and (max-width: 600px) {
    .expand-right {
        right: auto;
        left: 40px !important; /* Button width-1px */
    }

    .expand-right:focus {
        padding: 0 0 16px 0;
    }

    .search:focus {
        width: 230px; /* Bar width+1px */
        padding: 0 16px 0 0;
    }
  }

  /* search button and bar end */

  /* scrolled nav bar */
  .scrolled-nav {
    height: 80px !important;
    line-height: 10px !important;
    background-color: #fff !important;
    border-bottom: 1px solid #f8f9fa !important;
}

.banner {
    background-image: url(../images/bg-header1.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    padding-bottom: 200px;
}

.banner h1 {
    font-size: 90px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 150px;
}

.banner p {
    text-transform: uppercase; 
    font-weight: 700;
}

@media (max-width: 535px) {
  .banner h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 100px;
    text-align: center;
  }

  .banner p {
    text-transform: uppercase;
    text-align: center;
   
  }
  .bg-btn {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
  }

  .center {
    text-align: center;
  }
  
}

.bg-btn {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
}


.bg-btn:hover {
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.header {
    font-size: 70px;
    font-weight: 600;
    padding-top: 50px;
    text-align: center;
}

.italic-sub-header {
    /* font-style: italic; */
    color: darkgray;
    text-align: center;
    font-size: 20px;
    font-family: 'Alegreya Sans', sans-serif;
}


.site-section {
    padding: 3em 0; 
}
    @media (min-width: 768px) {
        .site-section {
            padding: 7em 0; 
        }
    }
.site-section.site-section-sm {
    padding: 4em 0; 
}


.featured h6 {
    font-family: 'Alegreya Sans', sans-serif;
    color: darkgray;
    font-size: 25px;
    font-weight: 400;
    margin-top: 100px;
    padding-bottom: 10px;
}

.featured h5 {
    font-weight: 100;
    color: darkgray;
    font-size: 15px;
    display: inline-block;
}

.featured h3 {
    color: rgb(73, 71, 71) !important;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 10px;
}

.featured p {
    font-weight: 200;
    color: darkgray;
    padding: 10px 0;
    /* font-size: 10px; */
    /* display: inline-block; */
}

.featured a {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
}

.featured img {
  height: 450px;
}

@media (max-width: 535px) {
  .featured img {
    height: 220px;
  }

  .featured p {
    font-weight: 200;
    color: darkgray;
    padding: 5px 0;
  }
  .featured h6 {
    font-family: 'Alegreya Sans', sans-serif;
    color: darkgray;
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
    padding-bottom: 10px;
  }
}

.sunshine-icon {
    color: darkgray;
    font-size: 30px;
    display: inline-block;
}

.margin-bottom {
  margin-bottom: 200px;
}

@media (max-width: 535px) {
  .margin-bottom {
    margin-bottom: 50px;
  }
  .first {
    order: -1;
  }

  .featured a {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    margin-bottom: 20px;
  }
}

.inner-img {
    transition: 0.3s;
  }
  
  .inner-img:hover {
    transform: scale(1.1);
  }


/* used in a column to make a row come first */
.first {
    order: -1;
}

  img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  
  }

  .card {
      /* background-color: #F8F8F8; */
      height: 20rem !important;
      width: 18rem !important; 
      border: 1px solid darkgray;
      margin-bottom: 5px;
      padding: 20px;
  }

  .product h6 {
      color: #E5D8B7;
      font-size: 14px;
  }

  .product h3 {
      text-align: center;
      color: #000;
      text-transform: uppercase; 
      font-weight: 700;
      padding-bottom: 80px;

  }

  .product a {
      text-decoration: none;
  }

  .product p {
      color: black;
      font-size: 12px;
      margin-bottom: 30px;
  }

  /* .advert {
      background-image: url(../images/banner.jpg);
      padding-bottom: 450px;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
  }
.advert a {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
} */

.advert h1 {
    color: #E5D8B7;
    margin-bottom: 10px;
}

.advert h4 {
    color: darkgray;
    font-size: 16px;
}

.advert p {
    font-size: 14px;
}

.footer {
    background-color: #323232;
    padding: 50px;
}

.footer h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.footer h3 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
}
.footer h6 {
    color: #fff;
    display: inline;
    padding: 10px;
}

.footer li {
    font-size: 12px;
    list-style-type: none;
    color: #fff;
    font-weight: 200;
}

.footer a {
    color: #fff;
}

  
  /* Left Column */
  .left-column img {
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  
    transition: all 0.3s ease;
  }
  
  .left-column img.active {
    opacity: 1;
  }
  
  /* Product Description */
  .product-description {
      border-bottom: 1px solid #E1E8EE;
      margin-bottom: 20px;
    }
   
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
  /* margin-top: 200px; */
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Configuration */
.product-color span,
.product-config span {
  font-size: 14px;
  font-weight: 400;
  color: #86939E;
  margin-bottom: 20px;
  display: inline-block;
}

/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#red + label span {
  background-color: #C91524;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(../images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}

.product-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.product-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.product-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}


/* Responsive */
@media (max-width: 535px) {

  .left-column img {
    height: 300px;
    /* right: 0; */
    /* margin-top: 20px; */
    left: initial;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 30px;
    color: #43484D;
    letter-spacing: -2px;
    margin-top: 300px;
  }
}

.card {
    border: none !important;
    text-align: center;
    color: #5E6977;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    height: 70% !important;
    border-radius: 6px;
    /* margin: 20px 0; */
}

@media (max-width: 535px) {

    .card {
        border: none !important;
        text-align: center;
        color: #5E6977;
        box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
        height: 100% !important;
        border-radius: 6px;
        margin: 20px 0;
    }
  }

@media (max-width: 800px) {

    .card {
        border: none !important;
        text-align: center;
        color: #5E6977;
        box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
        height: 100% !important;
        width: 100% !important;
        border-radius: 6px;
        margin: 20px 0;
    }
  }

.shopping-cart h4 {
    font-weight: 600;
    padding-bottom: 20px;
    font-size: 30px;
}

.shopping-cart p {
    line-height: 5px;
}

.shopping-cart h6 {
    font-weight: 600;
    margin-bottom: 40px;
}

.shopping-cart a {
    padding: 10px 90px;
    color: #fff;
    background-color: black;
    border-radius: 6px;
}

.shopping-cart {
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
   
  }

  .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }
   
  .item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }

  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
  .delete-btn,
  .like-btn {
    display: inline-block;
    Cursor: pointer;
  }
  .delete-btn {
    width: 18px;
    height: 17px;
    background: url(../images/delete-icn.svg) no-repeat center;
  }
   
  .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url(../images/twitter-heart.png);
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
  }

  .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
   
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }

  .image {
    margin-right: 50px;
  }
   
  /* Let’s add some basic style to  product name and description. */
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }
  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }
  .total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }

  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img {
      width: 50%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }
  }     