html,body {
    background-color: #fff;
    /* background-color: #f2f2f2; */
    height:100%;
    color: #43484D !important;
    font-family: 'Open Sans', sans-serif; 
}

.card {
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
}

/* @media (max-width: 535px) {
  .card {
    margin-bottom: 20px;
    padding: 25px;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  }
} */

/* start of nav and banner section */

.navbar-transparent {
    background-color: rgba(255, 255, 255, 0) none repeat scroll 0 0 !important;
}

/* .nav-border {
    border-bottom: 1px solid #f8f9fa !important;
  } */

.navbar-nav li a {
    color: #43484D !important;
    text-transform: uppercase;
    padding: 10px 20px !important;
    font-size: small !important;
    font-weight: 500;
}

.left-align-navbar h1 {
  font-size: 18px;
}

/* search button and bar */
.button {
	font-size: 9px;
	line-height: 40px;
	text-align: center;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: rgba(255, 255, 255, 0);
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
	height: 40px;
	width: 50px;
  vertical-align: bottom;

}

.search-icon {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.search-button {
	position: absolute;
	font-size: 20px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .search-button {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: rgba(255, 255, 255, 0);
	color: black;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    border-radius: 20px;
}

.search:focus {
	width: 250px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expand-right {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expand-right:focus {
	padding: 0 0 0 16px;
}

@media screen and (max-width: 600px) {
    .expand-right {
        right: auto;
        left: 40px !important; /* Button width-1px */
    }

    .expand-right:focus {
        padding: 0 0 16px 0;
    }

    .search:focus {
        width: 230px; /* Bar width+1px */
        padding: 0 16px 0 0;
    }
  }

  /* search button and bar end */

  .dropdown-menu {
    min-width: 0 !important;
  }

  /* scrolled nav bar */
  .scrolled-nav {
    height: 80px !important;
    line-height: 10px !important;
    background-color: #fff !important;
    border-bottom: 1px solid #f8f9fa !important;
  }



.banner {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    padding-bottom: 200px;
}

.banner h1 {
    font-size: 90px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 150px;
    color: #000;
}

.banner p {
    text-transform: uppercase; 
    font-weight: 700;
    color: #000;
}

@media (max-width: 535px) {
  .banner h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 100px;
    text-align: center;
    color: #000;
  }

  .banner p {
    text-transform: uppercase;
    text-align: center;
    color: #000;
   
  }
  .banner a {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
  }

  .center {
    text-align: center;
  }

  .topnav {
    overflow: hidden;
    background-color: #fff;
    position: relative;
    margin-top: 5px;
  }
  
}

.banner a {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
}

/* end of nav and banner section */

.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.page-header {
  font-weight: 500;
  text-align: center;
  color: #43474D;
  padding-bottom: 30px;
}

/* start of login */

.login-bg {
  background-image: url(../images/login.jpg);
  /* background-color: lightcyan; */
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 656px;
}

.register-bg {
  background-image: url(../images/register.jpg);
  /* background-color: lightcyan; */
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 656px;
}

.login-section {
  padding: 20px;
}

.login-section h6 {
  float: right;
  color: #ccc;
  font-size: 14px;
}
.login-section h5 {
  float: right;
  color: #000;
  font-size: 14px;
  padding: 0 10px;
}

.login-section a {
  color: #000;
}

.login-section h2 {
  text-align: center;
  color: #000;
  font-size: 30px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.login-section h5 h6 {
  display: inline;
}

.login-section .google-btn {
  color: #000;
  border-radius: 40px;
  padding: 5px 10px;
  width: 50%;
  box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.10);
  background-color: #fff;
}

.login-section .login-btn {
  color: #fff;
  background-color: #323232;
  border-radius: 40px;
  padding: 15px 0;
  width: 50%;
  box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.10);
}

.login-section img {
  margin-right: 45px;
  height: 40px;
}

.login-section input {
  border-radius: 40px;
  padding: 25px;
  width: 50%;
  box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.10) !important;
}

.login-section .form-control {
  display: initial;
}

@media (max-width: 535px) {

  .login-section input {
    border-radius: 40px;
    padding: 20px;
    width: 100%;
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.10) !important;
  }

  .login-section .google-btn {
    color: #000;
    border-radius: 40px;
    padding: 5px 10px;
    width: 90%;
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.10);
    background-color: #fff;
  }
  
  .login-section .login-btn {
    color: #fff;
    background-color: #323232;
    border-radius: 40px;
    padding: 10px 0;
    width: 90%;
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.10);
  }

  .login-section img {
    margin-right: 45px;
    height: 30px;
  }
}

/* end of login */


.site-section {
  padding: 100px 0; 
}
  @media (min-width: 768px) {
      .site-section {
          padding: 140px 0; 
      }
  }
.site-section.site-section-sm {
  padding: 4em 0; 
}

/* start of new range section */

.new-range h1 {
    font-size: 70px;
    font-weight: 600;
    padding-top: 50px;
    text-align: center;
}

.new-range p {
    /* font-style: italic; */
    color: darkgray;
    text-align: center;
    font-size: 20px;
    font-family: 'Alegreya Sans', sans-serif;
}

@media (max-width: 535px) {
  .new-range h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
    text-align: center;
  }
}

/* end of new range section */

/* start of featured section */

.featured h6 {
    font-family: 'Alegreya Sans', sans-serif;
    color: darkgray;
    font-size: 25px;
    font-weight: 400;
    margin-top: 100px;
    padding-bottom: 10px;
}

.featured h5 {
    font-weight: 100;
    color: darkgray;
    font-size: 15px;
    display: inline-block;
}

.featured h3 {
    color: #43484D;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 10px;
}

.featured h2 {
    color: #43484D;
    font-size: 25px;
    font-weight: 400;
    display: inline;
    margin-right: 10px;
  }
  

.featured p {
    font-weight: 200;
    color: #86939E;
    padding: 10px 0;
}

.featured a {
    background-color: #323232;
    color: #fff;
    padding: 12px 25px;
    text-transform: uppercase;
    text-decoration: none;
}

.featured img {
  height: 450px;
}

.sunshine-icon {
    color: darkgray;
    font-size: 30px;
    display: inline-block;
}

.margin-bottom {
  margin-bottom: 200px;
}

@media (max-width: 535px) {
  .margin-bottom {
    margin-bottom: 50px;
  }
  .first {
    order: -1;
  }

  .featured a {
    background-color: #323232;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
  }
  .featured img {
    height: 220px;
  }

  .featured h2 {
    color: #43484D;
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px;
    margin-right: 10px;
  }

  

  .featured p {
    font-weight: 200;
    color: darkgray;
    padding: 5px 0;
  }
  .featured h6 {
    font-family: 'Alegreya Sans', sans-serif;
    color: darkgray;
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .featured h3 {
    color: #43484D;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 10px;
  }
}

.inner-img {
    transition: 0.3s;
  }
  
  .inner-img:hover {
    transform: scale(1.1);
  }


  img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  
  }

  /* end of featured section */

  /* start of products section */

  .product .card {
      height: 20rem !important;
      width: 18rem !important; 
      border: 1px solid darkgray;
      margin-bottom: 5px;
      padding: 20px;
  }

  .product h6 {
      color: #323232;
      font-size: 14px;
  }

  .product h3 {
      text-align: center;
      color: #000;
      text-transform: uppercase; 
      font-weight: 700;
      padding-bottom: 80px;

  }

  .product a {
      text-decoration: none;
  }

  .product p {
      color: black;
      font-size: 12px;
      margin-bottom: 30px;
  }

.advert h1 {
    color: #323232;
    margin-bottom: 10px;
}

.advert h4 {
    color: darkgray;
    font-size: 16px;
}

.advert p {
    font-size: 14px;
}

/* start of footer */
.footer {
    background-color: #323232;
    padding: 50px;
}

.footer h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.footer h3 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
}
.footer h6 {
    color: #fff;
    display: inline;
    padding: 10px;
}

.footer li {
    font-size: 12px;
    list-style-type: none;
    color: #fff;
    font-weight: 200;
}

.footer li:hover {
  text-decoration: underline;
}

.footer a {
    color: #fff;
}

/* end of footer */

/* start of single product */
  
  /* Left Column */
  .left-column img {
    height: 550px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  
    transition: all 0.3s ease;
  }
  
  .left-column img.active {
    opacity: 1;
  }
  
  /* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
   
.product-description h3 {
  font-weight: 400;
  font-size: 25px;
  color: #43484D;

}
.product-description p {
  font-weight: 200;
  color: #86939E;
}

/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#red + label span {
  background-color: #C91524;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(../images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}

.product-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 70px;
}

.product-price a {
  background-color: #323232;
  color: #fff;
  padding: 12px 25px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Responsive */
@media (max-width: 535px) {

  .left-column img {
    height: 300px;
    left: initial;
    margin-top: 20px;
  }

  .product-description h3 {
    font-weight: 300;
    font-size: 20px;
    color: #43484D;
    margin-top: 300px;
  }
}

/* End single product */


/* start of cart */


.cart a {
  background-color: #323232;
  color: #fff;
  padding: 12px 25px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 20px;
}


.remove-btn {
  padding-top: 30px;
}

.image {
  height: 80px;
}

.description {
  padding-top: 20px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
  text-align: center;
}

.order-summary h5 {
  color: #43484D;
  /* font-weight: 500; */
}
 
.description span:first-child {
  margin-bottom: 5px;
}

.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.quantity {
  padding-top: 30px;
  text-align: center;
}

.cart .quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #000;
  font-weight: 300;
}
 
.quantity button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.minus-btn img {
  margin-bottom: 3px;
}

.plus-btn img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}

.total-price {
  /* width: 83px; */
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.title, .value {
  display: inline-block;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .image {
    height: 100px;
  }
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }

  .item {
    margin-top: 20px;
  }
   
}    

/* end of cart */

/* checkout */

.checkout-section {
  padding: 50px 0; 
}
  @media (min-width: 768px) {
      .checkout-section {
          padding: 100px 0; 
      }
  }
.checkout-section.checkout-section-sm {
  padding: 4em 0; 
}

.checkout h4 {
  color: #000;
  font-weight: 300;
  margin: 30px 0;
}

.checkout label {
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
}

.checkout h6 {
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  display: inline;
  float: right;
}

.checkout h1 {
  text-transform: uppercase;
  color: #358ED7;
  font-size: 25px;
  display: inline;
  float: right;
}

.checkout .shipping-btn {
  background-color: #323232;
  color: #fff;
  padding: 12px 25px;
  text-transform: uppercase;
  text-decoration: none;
  float: right;
  margin-top: 10px;
}


.mapouter {
  position:relative;
  text-align:right;
  height:191px;
  width:206px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:175px;
  width:270px;
}

@media (max-width: 535px) {
  .checkout .shipping-btn {
    background-color: #323232;
    color: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    margin-top: 10px;
  }

  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:175px;
    width:235px;
  }
}


.shipping .card {
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  padding: 20px;
}

.shipping p {
  font-size: 13px;
  color: #788995;
  padding-top: 10px;
}

.shipping h5 {
  font-size: 13px;
  color: #788995;
  font-weight: 400;
  margin-left: 6px;
}

.address-btn {
  font-size: 13px;
  padding: 0 10px;
}

.payment {
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  padding: 20px;
  margin: 10px 0;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#icon {
  background-image: url(../images/icons_card_black.png);
  float: right;
  
}

input {
  box-shadow: none !important;
}


.profile .card {
  padding: 0 !important;
}

.profile a {
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #43474D;
}

.profile a:hover {
  color: #fff;
  background-color: #43474D;
  padding: 5px;
  border-radius: 50px;
}

.profile h6 {
  text-transform: uppercase;
  font-weight: 700;
  color: #43474D;
}

.profile h6{
  display: inline;
}

.order {
  text-align: center;
}

.order h5 {
  display: inline;
  font-weight: 600;
  font-size: 15px;
  
}

.order .success {
  color: green;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 14px;
}

.order .failed {
  color: #43474D;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 13px;
}

.order a {
  color: #43474D;
  font-weight: 500;
  text-transform: uppercase;
  /* padding: 20px 0; */
  font-size: 13px;
}

.order a:hover {
  background-color: #43484D;
  color: #ccc;
  padding: 5px;
  border-radius: 6px;
}


.order p {
  color: #43474D;
  display: inline;
}

/* .order p h5 {
  display: inline;
} */

.paid-info p {
  font-size: 15px;
  line-height: 3px;
  padding-bottom: 10px;
}

.paid-info p {
  display: inline;
}

/* start of filter */

.filter {
  margin-left: 20px;
}

.product-filter {
  display: flex;
  float: right;
  margin-bottom: 10px;
}

.product-filter h1 {
  flex-grow: 1;
}

.sort {
  display: flex;
}

.collection-sort {
  display: flex;
  flex-direction: column;
}

@media (max-width: 535px) {
  .product-filter {
    flex-direction: column;
  }

}

@media (max-width: 535px) {
  .hide-filters {
    visibility: hidden;
    display: none;
  }
}


/* end of filters */


/* start of category */

.category select {
  border-radius: 6px;
  padding: 2px;
  margin-right: 5px;
}

.category option {
  border-radius: 2px;
  padding: 2px;
  border: none !important;
}

.category .add-to-cart {
  background-color: #43484D;
  border: none;
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
}

.category a {
  color: #43474D;
}

.category p {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}

.category h6 {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.category img {
  height: 140px;
}

@media (max-width: 535px) {
  .category img {
    height: 195px;
  }
}

/* end of category */


/* start of wishlist */

.like-btn {
  background: url('../images/twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

.wishlist img {
  height: 100px;
}

.wishlist h6 {
  vertical-align: middle;
  line-height: 90px;
  display: inline;
}

.wishlist h5 {
  vertical-align: middle;
  line-height: 90px;
  font-weight: 500;
}

.wishlist a {
  color: #43474D;
}

@media (max-width: 535px) {
  .wishlist h6 {
    padding-top: 0;
    line-height: 0;
  }

  .wishlist a {
    margin-top: 5px;
  }
}

.border {
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

/* THE END */