html,body {
    background-color: #fff;
    /* background-color: #f2f2f2; */
    height:100%;
    color: #43484D !important;
    font-family: 'poppins', sans-serif;
}

.card {
  margin-bottom: 20px;
  padding: 50px;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
}

.navbar-transparent {
    background-color: rgba(255, 255, 255, 0) none repeat scroll 0 0 !important;
}

/* .nav-border {
    border-bottom: 1px solid #f8f9fa !important;
  } */

.navbar-nav li a {
    color: #43484D !important;
    text-transform: uppercase;
    padding: 10px 20px !important;
    font-size: small !important;
    font-weight: 500;
}
/* search button and bar */
.button {
	font-size: 9px;
	line-height: 40px;
	text-align: center;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: rgba(255, 255, 255, 0);
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
	height: 40px;
	width: 50px;
	vertical-align: bottom;
}

.search-icon {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.search-button {
	position: absolute;
	font-size: 20px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .search-button {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: rgba(255, 255, 255, 0);
	color: black;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    border-radius: 20px;
}

.search:focus {
	width: 250px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expand-right {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expand-right:focus {
	padding: 0 0 0 16px;
}

@media screen and (max-width: 600px) {
    .expand-right {
        right: auto;
        left: 40px !important; /* Button width-1px */
    }

    .expand-right:focus {
        padding: 0 0 16px 0;
    }

    .search:focus {
        width: 230px; /* Bar width+1px */
        padding: 0 16px 0 0;
    }
  }

  /* search button and bar end */

  /* scrolled nav bar */
  .scrolled-nav {
    height: 80px !important;
    line-height: 10px !important;
    background-color: #fff !important;
    border-bottom: 1px solid #f8f9fa !important;
}

.banner {
    background-image: url(../images/bg-header1.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    padding-bottom: 200px;
}

.banner h1 {
    font-size: 90px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 150px;
}

.banner p {
    text-transform: uppercase; 
    font-weight: 700;
}

@media (max-width: 535px) {
  .banner h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 100px;
    text-align: center;
  }

  .banner p {
    text-transform: uppercase;
    text-align: center;
   
  }
  .bg-btn {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
  }

  .center {
    text-align: center;
  }
  
}

.banner a {
    background-color: #E5D7B3;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
}



.new-range h1 {
    font-size: 70px;
    font-weight: 600;
    padding-top: 50px;
    text-align: center;
}

.new-range p {
    /* font-style: italic; */
    color: darkgray;
    text-align: center;
    font-size: 20px;
    font-family: 'Alegreya Sans', sans-serif;
}

@media (max-width: 535px) {
  .new-range h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
    text-align: center;
  }
}


.site-section {
    padding: 100px 0; 
}
    @media (min-width: 768px) {
        .site-section {
            padding: 200px 0; 
        }
    }
.site-section.site-section-sm {
    padding: 4em 0; 
}


.featured h6 {
    font-family: 'Alegreya Sans', sans-serif;
    color: darkgray;
    font-size: 25px;
    font-weight: 400;
    margin-top: 100px;
    padding-bottom: 10px;
}

.featured h5 {
    font-weight: 100;
    color: darkgray;
    font-size: 15px;
    display: inline-block;
}

.featured h3 {
    color: #43484D;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 10px;
}

.featured p {
    font-weight: 200;
    color: #86939E;
    padding: 10px 0;
}

.featured a {
    background-color: #E5D7B3;
    color: #fff;
    padding: 12px 25px;
    text-transform: uppercase;
    text-decoration: none;
    /* float: right; */
    margin-top: 10px;
}

.featured img {
  height: 450px;
}

@media (max-width: 535px) {
  .featured img {
    height: 220px;
  }

  .featured p {
    font-weight: 200;
    color: darkgray;
    padding: 5px 0;
  }
  .featured h6 {
    font-family: 'Alegreya Sans', sans-serif;
    color: darkgray;
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .featured h3 {
    color: #43484D;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 10px;
}
}

.sunshine-icon {
    color: darkgray;
    font-size: 30px;
    display: inline-block;
}

.margin-bottom {
  margin-bottom: 200px;
}

@media (max-width: 535px) {
  .margin-bottom {
    margin-bottom: 50px;
  }
  .first {
    order: -1;
  }

  .featured a {
    background-color: #E5D7B3;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    margin-top: 10px;
  }
}

.inner-img {
    transition: 0.3s;
  }
  
  .inner-img:hover {
    transform: scale(1.1);
  }


  img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  
  }

  .product .card {
      height: 20rem !important;
      width: 18rem !important; 
      border: 1px solid darkgray;
      margin-bottom: 5px;
      padding: 20px;
  }

  .product h6 {
      color: #E5D7B3;
      font-size: 14px;
  }

  .product h3 {
      text-align: center;
      color: #000;
      text-transform: uppercase; 
      font-weight: 700;
      padding-bottom: 80px;

  }

  .product a {
      text-decoration: none;
  }

  .product p {
      color: black;
      font-size: 12px;
      margin-bottom: 30px;
  }

.advert h1 {
    color: #E5D7B3;
    margin-bottom: 10px;
}

.advert h4 {
    color: darkgray;
    font-size: 16px;
}

.advert p {
    font-size: 14px;
}

/* start of footer */
.footer {
    background-color: #323232;
    padding: 50px;
}

.footer h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.footer h3 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
}
.footer h6 {
    color: #fff;
    display: inline;
    padding: 10px;
}

.footer li {
    font-size: 12px;
    list-style-type: none;
    color: #fff;
    font-weight: 200;
}

.footer li:hover {
  text-decoration: underline;
}

.footer a {
    color: #fff;
}

/* end of footer */

/* start of single product */
  
  /* Left Column */
  .left-column img {
    height: 550px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  
    transition: all 0.3s ease;
  }
  
  .left-column img.active {
    opacity: 1;
  }
  
  /* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
   
.product-description h3 {
  font-weight: 400;
  font-size: 25px;
  color: #43484D;

}
.product-description p {
  font-weight: 200;
  color: #86939E;
}

/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#red + label span {
  background-color: #C91524;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(../images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}

.product-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 70px;
}

.product-price a {
  background-color: #E5D7B3;
  color: #fff;
  padding: 12px 25px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Responsive */
@media (max-width: 535px) {

  .left-column img {
    height: 300px;
    left: initial;
    margin-top: 20px;
  }

  .product-description h3 {
    font-weight: 300;
    font-size: 20px;
    color: #43484D;
    margin-top: 300px;
  }
}

/* End single product */


/* start of cart */

.cart {
  /* margin-top: 50px; */
}


.cart a {
  background-color: #E5D7B3;
  color: #fff;
  padding: 12px 25px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 20px;
}

@media (max-width: 535px) {

}

@media (max-width: 800px) {

    
}

.shopping-cart h4 {
    font-weight: 600;
    padding: 20px;
    font-size: 30px;
}

.shopping-cart p {
    line-height: 5px;
}

.shopping-cart h6 {
    font-weight: 600;
    margin-bottom: 40px;
}

.shopping-cart {
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
}

 
.item {
  margin-top: 20px;
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
.buttons {
  position: relative;
  padding-top: 30px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  Cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  background: url(../images/delete-icn.svg) no-repeat center;
}
 
.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  background: url(../images/twitter-heart.png);
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}
.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

.image {
  height: 80px;
}
 
/* Let’s add some basic style to  product name and description. */
.description {
  padding-top: 20px;
  /* margin-right: 60px; */
  /* width: 115px; */
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
  text-align: center;
}
 
.description span:first-child {
  margin-bottom: 5px;
}

.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.quantity {
  padding-top: 30px;
  text-align: center;
  /* margin-right: 60px; */
}

.cart .quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #000;
  font-weight: 300;
}
 
button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.minus-btn img {
  margin-bottom: 3px;
}

.plus-btn img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}

.total-price {
  /* width: 83px; */
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.title, .value {
  display: inline-block;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .image {
    height: 100px;
  }
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  /* .buttons {
    margin-right: 50px;
  } */
}    



@media (max-width: 800px) {
  
}


.show-item {
  background-color: #E4EAEE;
  /* padding-bottom: 100px; */
  padding: 30px;
  
}

.show-item h3 {
  color: #000;
  font-weight: 200;
  padding: 20px;
  margin-bottom: 5px;
}

.show-item p {
  font-weight: 200;
  line-height: 4px;

}
.show-item h6 {
  font-weight: 400;
}

.show-item img {
  height: 100px;
  margin-bottom: 15px;
}

.checkout h4 {
  color: #000;
  font-weight: 300;
  margin: 30px 0;
}

/* .checkout .card {
  margin-bottom: 20px;
  padding: 50px;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
} */

.checkout label {
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
}

.checkout h6 {
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  display: inline;
  float: right;
}

.checkout h1 {
  text-transform: uppercase;
  color: #358ED7;
  font-size: 25px;
  display: inline;
  float: right;
}

.checkout .shipping-btn {
  background-color: #358ED7;
  color: #fff;
  padding: 12px 25px;
  text-transform: uppercase;
  text-decoration: none;
  float: right;
  margin-top: 10px;
}

.mapouter {
  position:relative;
  text-align:right;
  height:242px;
  width:316px;
}
.gmap_canvas 
{overflow:hidden;
  background:none!important;
  height:242px;
  width:316px;
}

.shipping .card {
  border: 1px solid #788995;
  padding: 20px;
  /* margin-bottom: 30px; */
}

.shipping p {
  font-size: 13px;
  color: #788995;
  padding-top: 10px;
}

.shipping h5 {
  font-size: 13px;
  color: #788995;
  font-weight: 400;
  /* padding-top: 10px; */
}

.address-btn {
  font-size: 13px;
  padding: 0 10px;
}

.payment {
  border: 1px solid #788995;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  margin: 10px 0;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#icon {
  background-image: url(../images/icons_card_black.png);
  float: right;
  
}

input {
  box-shadow: none !important;
}